node_modules
.env
artifacts
cache
typechain-types
frontend/node_modules
frontend/dist
frontend/.env
zk/pk.key
zk/data/
zk/global_model.pth
zk/accuracy_log.json
zk/proofs/
zk/training_step/proofs/
zk/training_step/input.json
zk/training_step/*.onnx
zk/proof.json
zk/witness.json
zk/vk.key
zk/network.compiled
zk/kzg.srs
zk/input.json
